.title {
    font-size: 305%;
    color: white;
    text-shadow: 3px 3px 5px white;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: solid 2px gray; */
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
    margin-left: 22%;
    margin-top: 5%;
    width: 55%;
    height: 55vh;
}

.titleCard {
    font-size: 185%;
    text-shadow: 1.7px 1.7px 3px white;
    /* padding-top: 3%; */
}

.parragraphCard {
    width: 95%;
    padding-left: 8%;
    padding-top: 5%;
    line-height: 35px;
    padding-bottom: 2%;
}