.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(73,73,80);
    margin-top: 2%;
    height: 10vh;
    text-align: center;
    color: white;
}

.name {
    padding-top: 1.5%;
}

.dateF {
    padding-top: 1.5%;
}